<nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;" data-position="right"
    class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">

            <div class="clearfix"></div>

            <li *ngFor="let item of menuItems" [ngClass]="{'active': selectedItem == item}" (click)="listClick(item)">
                <a [routerLink]="item.link" routerLinkActive="active"  href="">
                    <i class="{{item.icon}}">
                        <div class="icon-bg bg-orange"></div>
                    </i>
                    <span class="menu-title">{{item.caption}}</span>
                </a>
            </li>

        </ul>
    </div>
</nav>