<div class="col-lg-12">
    <app-title title="Books">
    </app-title>
    <br/>
    <div>
        <a href="" [routerLink]="['/books', 'new']" class="btn btn-primary" data-hover="tooltip" data-original-title="New"><i class="fa fa-plus"></i>&nbsp; New Book</a>
    </div>

    <br/>


    <books-grid [books]="books" (itemEdit)="itemEdit($event)" (itemDelete)="itemDelete($event)"></books-grid>

    <pagination [totalItems]="totalRecords" [pageSize]="pageSize" (pageChanged)="pageChanged($event)"></pagination>

</div>