<div class="col-lg-12">
    <app-title title="Books">
    </app-title>
    <br/>
    <div>
        <a href="" [routerLink]="['/books', 'new']" class="btn btn-primary" data-hover="tooltip" data-original-title="New"><i class="fa fa-plus"></i>&nbsp; New Book</a>
    </div>

    <br/>
    
    <app-grid title="Books" [rows]="rows" [columns]="columns" (onItemEdit)="itemEdit($event)" (onItemDelete)="itemDelete($event)"
        (onSort)="sort($event)" [totalItems]="totalRecords" [pageSize]="pageSize" (onPageChanged)="pageChanged($event)">
    </app-grid>
    
</div>