<div class="panel panel-green">
    <div class="panel-heading">Books</div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width:20%;">Action</th>
                    <th (click)="sort('_id')"># <span [hidden]="currentSort != '_id'">&nbsp;<i [class]="sortClass"></i></span></th>
                    <th (click)="sort('title')">Name <span [hidden]="currentSort != 'title'">&nbsp;<i [class]="sortClass"></i></span></th>
                    <th (click)="sort('authors')">Author <span [hidden]="currentSort != 'authors'">&nbsp;<i [class]="sortClass"></i></span></th>
                    <th (click)="sort('category')">Category<span [hidden]="currentSort != 'category'">&nbsp;<i [class]="sortClass"></i></span></th>
                </tr>
            </thead>
            <tbody *ngIf="books">
                <tr *ngFor="let book of books">
                    <td>
                        <button type="button" (click)="editItem(book, $event)" class="btn btn-primary btn-sm" data-hover="tooltip" title="Edit"><i class="fa fa-pencil"></i></button>
                        <button type="button" (click)="deleteItem(book)" class="btn btn-danger btn-sm" data-hover="tooltip" title="Delete"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-blue btn-sm" data-hover="tooltip" title="Download"><i class="fa fa-download"></i></button>
                    </td>
                    <td>{{book._id}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.authors}}</td>
                    <td>
                        <app-categorylabel [category]="book.category"></app-categorylabel>
                    </td>
                </tr>
                <tr *ngIf="!books.length">
                    <td>&nbsp;</td>
                    <td colspan="5">No Records Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
